*{
    box-sizing: border-box;
    margin: 0px;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    flex-wrap: wrap;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
}

header nav{
    width: 400px;
}

/* menu del header */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: #242E52;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;

    
}
/* boton del header */

header div button{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13.1806px;
    height: 44px;
    left: 1140.54px;
    line-height: 19px;
    top: 65px;
    width: 134px;
}
/* MAIN */
/* SECCION HOME */
.contenedor-frase{
    display: flex;
    padding: 69px;
    justify-content: space-between;
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.frase-Home{
    color: #232C50;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    font-weight: bold;
    letter-spacing: -0.035em;
    width: 450px;
}
.p-home{
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    margin-top: 36px;
}
.buttonHome{
    align-self: flex-start;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 44px; 
    margin-top: 28px;
    line-height: 19px;
    width: 134px;
}
   
   

.imgHome{
    width: 580px;
    height: 525px;
    margin-top: -80px;
}

/* SECCION SOBRE NOSOTROS */
.seccion-informacion{
    display: flex;
    flex-direction: row;
    padding: 60px;
}

section article h4{
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
    margin-right: 80px;
}

.P-informacion{
    font-weight: 500;
    font-size: 20px;
    line-height: 151.1%;
    margin-top: 36px;
    padding-right: 270px;
    
}
 ol{
     list-style-type: none;
 }

article ol li div.contenedor-numero{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    display:inline-block;
    text-align: center;
    width: 69px;
    height: 43px;
    text-align: center;
    padding: 9px;
    margin-right: 9px;
}

.numero-lista{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}


.titulo-lista{
    color: #323851;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    margin-top: 5px;
}

.parrafo-lista{
    margin: 0px 87px 0px 86px;
}

.li-margin{
    margin: 5px 0px 44px 0px;
}

section.seccion-informacion article:nth-child(2) p{
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-top: 5px;
}


/*SECCION TESTIMONIOS  */
.h4-testimonios{
    display: flex;
    justify-content: center;
    margin: 135px 0px 100px 0px;
    }

div.h4-testimonios h4{
    color: #242E53;
    font-weight: bold;
    font-size: 39.2143px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
}

.seccion-testimonios{
    display: flex;
    margin: 60px 40px 0px 40px;
    height: 200px;
}

section.seccion-testimonios article{
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 55px;
}

section.seccion-testimonios article img {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 170px;


}

section.seccion-testimonios article h6{
    color: #3F4868;
    font-weight: bold;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: -0.01em;
    margin-top: 52px;
}
section.seccion-testimonios article p{ 
    color: #B9B9C1;
    font-weight: 400;
    font-size: 14px;
    line-height: 156%;
    margin-top: 20px;
    text-align: center;
}

.button-testimonios{
    display: flex;
    justify-content:center;
    margin-top: 60px;
}

div.button-testimonios button{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13.1806px;
    height: 44px;
    line-height: 19px;
    top: 65px;
    width: 134px;
}


/* SECCIION FRASE */
.seccion-frase{
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 150px;
}

section.seccion-frase h3{
     color: #FFFFFF;
     font-weight: bold;
     font-size: 40px;
     line-height: 50px;
     letter-spacing: -0.005em;
    }

section.seccion-frase button{
    background: #FFFFFF;
    color:  #F3603B;;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    width: 134px;
    height: 44px;
}


/* SECCION FOOTER */

footer {
    background: #1E1E26;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    height: 150px;
}

footer article.contenedor-uno{
    display: flex;
    width: 189px;
    justify-content: space-evenly;
    flex-direction: column;
}

footer article.contenedor-uno img{
    width: fit-content;
    margin-left: 27px;
}

footer article.contenedor-uno div{
    margin-left: 43px;
}

i{
    color: #FFFFFF;
    height: 20px;
    width: 20px;
}

footer article.contenedor-dos{
    width: 480px;
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
}

footer article.contenedor-dos ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

footer article.contenedor-dos ul:nth-child(2){
    margin-bottom: 27px;
}

footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
    }



 /* formulario del footer */

article.contenedor-tres{
    padding-left: 80px;
    display: flex;
    align-items: center;
}

article.contenedor-tres form { 
    display: flex;
    flex-direction: row;
}

form textarea{
    background: #FFFFFF;
    border-radius: 50px;
    color: #A0A0A0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
}
 form button {
    background: #F3603B;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 63px;
    height: 42px;
    left: 209.91px;
    top: 3.26px;
}

footer span{
    color: #8C8C94;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    justify-content:flex-end;
    align-self: flex-end;
}


/* RESPONSIVE */
@media(max-width:375px) {
    body:-webkit-scrollbar {
        width: 0;
        overflow-x: hidden;
    }
    
     /* *{
        border: 1px solid red;
    } */
    
    
    /* HEADER */
    header{
        
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        padding: 0px;
        margin-top: 48px;
    }

    .svg-div{
        padding: 0px 18px;
    }
    
    header nav ul{
        display: none;
    }

    header div button{
        display: none;
    }

    .menu-hamburguesa{
        /* width: 130px; */
        height: max-content;
    }
    
    .componente{
        width: 27px;
        height: 5px;
        background-color: #232C50;
        margin: 4px;
    }

 /* MAIN */
 /* SECCION HOME*/



    .contenedor-frase{
        display: flex;
        padding: 0px;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 53px;
        margin-left: 71px;

    } 
    
    .img-responsive{
        width: 243px;
    }

    .frase-Home{
        font-size: 36px;
        text-align: -webkit-center;
        width: 330px;
        line-height: 45px;
    }

    .contenedor-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        margin-left: 31px;
    }

    .p-home{
        color:#B3B2B7;
        width: 340px;
        padding: 20px 0px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

    .buttonHome{
        align-self: center;
    }

    /* seccion sobre nosotros */

    .seccion-informacion{
        display: flex;
        flex-direction: column;
        margin-top: 159px;
        padding: 7px;
    }

    .seccion-informacion2{
        display: flex;
        flex-direction: column;
        width: 367px
        
    }
    section.seccion-informacion article.seccion-informacion2 h4{
        margin: 0px;
        text-align: center;
    }
    
    .seccion-informacion3{
        margin-top: 80px;
    }

    section.seccion-informacion article.seccion-informacion3 ol{
        padding: 15px;
    }


    .P-informacion{
        display: inline-block;
        margin-top: 36px;
        padding-right: 7px;
        text-align: center;
        /* margin-right: 46px; */
        font-weight: bold;
        color:#B3B2B7;
        font-size: 16px;
    }

    .parrafo-lista{
        width: 361px;
        margin: 0px;
        text-align: center;
        margin-top: 10px;
    }   
    
    /* SECCION TESTIMONIOS */

    .testimonios-d-none{
        display: none;
    }

    .seccion-testimonios{
        display: flex;
        flex-direction: column;
    }

    section.seccion-testimonios article img {
        bottom: 170px;
    }

    .li-margin{
        margin: -15px;
        margin-top: 20px;
    }

    
    /* SECCION FRASE */
    
    .seccion-frase{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    section.seccion-frase h3{
        text-align: center;
    }

    section.seccion-frase button{
        margin-top: 30px;
    }


 /* FOOTER */
    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 500px;
    }

    footer article.contenedor-uno{
        display: flex;
        flex-direction: column-reverse;
        width: 240px;
    }

    footer article.contenedor-uno img{
        margin-left: 39px;
    }

    footer article.contenedor-uno div{
        margin-left: -35px;
        margin-bottom: 20px;
    }

    .container-fab{
        display: flex;
        justify-content: space-between;
        margin: 10px -38px;
    }

    footer article.contenedor-dos{
        width: 230px;
        margin-left: -7px;
        display: flex;
        align-items: center;
        line-height: 30px;
    }
    footer span{
        order: -1;
        width: 246px;
    }

    form{
        margin-top: 30px;
        margin-right: 60px;
    }
}

@media(min-width:400px){
    .menu-hamburguesa{
        display: none;
    }
}

