*{
    box-sizing: border-box;
    margin: 0px;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    flex-wrap: wrap;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 60px;
}

header nav{
    width: 400px;
}

/* menu del header */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: #242E52;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;

    
}
/* boton del header */

header div button{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 13.1806px;
    height: 44px;
    left: 1140.54px;
    line-height: 19px;
    top: 65px;
    width: 134px;
}
/* MAIN */
/* SECCION HOME */
.contenedor-frase{
    display: flex;
    padding: 69px;
    justify-content: space-between;

}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.frase-Home{
    color: #232C50;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    font-weight: bold;
    letter-spacing: -0.035em;
    width: 450px;
}
.p-home{
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-top: 36px;
}
.buttonHome{
    align-self: flex-start;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 13px;
    height: 44px; 
    margin-top: 28px;
    line-height: 19px;
    width: 134px;
}
   
   

.imgHome{
    width: 580px;
    height: 525px;
    margin-top: -80px;
}

/* SECCION SOBRE NOSOTROS */
.seccion-informacion{
    display: flex;
    flex-direction: row;
    padding: 60px;
}

section article h4{
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
    margin-right: 80px;
}

.P-informacion{
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    margin-top: 36px;
    padding-right: 270px;
    
}

.li-uno{
    list-style-image: url(../imagenes/li-uno.png);
    
}

.li-dos{
    list-style-image: url(../imagenes/li-dos.png);

}

.li-tres{
    list-style-image: url(../imagenes/li-tres.png);
    
}


section.seccion-informacion article span {
    color: #323851;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    margin-top: 5px;
}

section.seccion-informacion article:nth-child(2) p{
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-top: 5px;
}


/*SECCION TESTIMONIOS  */
.h4-testimonios{
    display: flex;
    justify-content: center;
    margin: 135px 0px 100px 0px;
    }

div.h4-testimonios h4{
    color: #242E53;
    font-weight: bold;
    font-size: 39.2143px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
}

.seccion-testimonios{
    display: flex;
    margin: 60px 40px 0px 40px;
    height: 200px;
}

section.seccion-testimonios article{
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 55px;
}

section.seccion-testimonios article img {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 170px;


}

section.seccion-testimonios article h6{
    color: #3F4868;
    font-weight: bold;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: -0.01em;
    margin-top: 52px;
}
section.seccion-testimonios article p{ 
    color: #B9B9C1;
    font-weight: 400;
    font-size: 14px;
    line-height: 156%;
    margin-top: 20px;
    text-align: center;
}

.button-testimonios{
    display: flex;
    justify-content:center;
    margin-top: 60px;
}

div.button-testimonios button{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 13.1806px;
    height: 44px;
    left: 1140.54px;
    line-height: 19px;
    top: 65px;
    width: 134px;
}


/* SECCIION FRASE */
.seccion-frase{
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 150px;
}

section.seccion-frase h3{
     color: #FFFFFF;
     font-weight: bold;
     font-size: 40px;
     line-height: 50px;
     letter-spacing: -0.005em;
    }

section.seccion-frase button{
    background: #FFFFFF;
    color:  #F3603B;;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    width: 134px;
    height: 44px;
}


/* SECCION FOOTER */

footer {
    background: #1E1E26;
    display: flex;
    justify-content: space-between;
}

.contenedor-1-footer {
    display: flex;
    flex-direction: column;
}

i{
    color: #FFFFFF;
    height: 20px;
    width: 20px;
}


footer div.contenedor-2-footer ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

footer div.contenedor-2-footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
    }
 /* formulario del footer */
 .contenedor-formulario span{
    color: #8C8C94;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

 }

form textarea{
    background: #FFFFFF;
    border-radius: 50px;
    color: #A0A0A0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}
 form button {
    background: #F3603B;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    width: 63px;
    height: 42px;
    left: 209.91px;
    top: 3.26px;
 }